* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
}
.headas {
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding:10px;
    border-radius: 10px;
}
.headas h1 {
    color:rgb(255, 255, 255);
}

body {
    background-image: url(img/bg.jpg);
    background-color: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    
}
.navcls {
    
    border-radius: 10px;
    width: 20%;
    margin-top: 10px;
    position: absolute;
}
.navcls li {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 10px;
    
    transition: 0.7s;
}
.navcls a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color:white;
    transition: 0.7s;
    
}
.navcls li:hover {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    
}
.navcls a:hover {
    font-size: 30px;
}
.sct {
    width: 80%;
    margin: auto;
    text-align: center;
    float: right;
}
.inside {
    background-color: rgba(0,0,0,0.3);
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
}
.inside h1 {
    font-size: 30px;
    color: white;
    
}
.inside img {
    width: 15%;
    height:50%;
    margin: 10px;
}
.inside p {
    font-weight: 900;
    padding-bottom: 20px;
}
.inside a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px;
    transition: 1.0s;
    
}
.inside a:hover {
    background-color: rgba(0,0,0,0.8);
    font-size: 40px;
}
.footbg {
    background-color: rgba(0,0,0,0.3);
    margin-top: 73%;
    border-radius: 10px;
}
.footbg p {
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.example {
    border: 3px solid white;
    background-color: black;
    margin-top: 15px;
    padding-top: 15px;

}
.example pre {
    color: greenyellow;
    text-align: left;
    
}
.footbghtml {
    background-color: rgba(0,0,0,0.3);
    margin-top: 30%;
    border-radius: 10px;
}
.footbghtml p {
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.footbgcss {
    background-color: rgba(0,0,0,0.3);
    margin-top: 32%;
    border-radius: 10px;
}
.footbgcss p {
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.footbgphp {
    background-color: rgba(0,0,0,0.3);
    margin-top: 35%;
    border-radius: 10px;
}
.footbgphp p {
    text-align: center;
    padding: 15px;
    font-weight: 800;
}
.insideseo {
    background-color: rgba(0,0,0,0.3);
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
   
}
.insideseo h1 {
    font-size: 30px;
    color: white;
    
}
.insideseo img {
    width: 100%;
    height:50%;
    margin: 10px;
    border: 3px solid ;
  }
  .footbgseo {
    background-color: rgba(0,0,0,0.3);
    margin-top: 86%;
    border-radius: 10px;
}
.footbgseo p {
    text-align: center;
    padding: 15px;
    font-weight: 800;
}